.LeftSide{
    grid-area: leftSide;
background-color: #5e5a5a;
    width: 310px;
    height: 1754px;
  }
  .foto{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative; 
    left: 45px;
    top: 20px;
    border: 5px white solid;
}
.contacts{
  margin-top: 50px;
  margin-left: 30px;
  padding-bottom: 10px;
  
}
.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
.icon{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.contact_text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
}
.line_contacts{
  width: 280px;
  border-bottom: white 1px solid;
  margin:10px ;
}
.skills_title{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  margin-left: 30px;
  font-size: 30px;
  margin-bottom: 5px ;
  margin-top: 20px;
}
.skills{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 17px;
  margin-bottom: 25px;

}
.skill{
  margin: 5px;
}
.text_p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  margin-left: 30px;
  font-size: 16px;
}